* {
    list-style: none;
}

body{
    background-color: #231F20;
}

.nav-item:hover{

    animation-name: enlarge-nav;
    animation-duration: 2s;
}

.hero {
    height: 100vh;
}

@keyframes enlarge-nav {
    100%{
        transform: scale(1.05);
    }
}

img{
    width: 50px;
    height: 50px;
}